<html>
<head>
    {% extends "base.html" %}
    {% load static %}
    {% block head %}
    <title>Изменение пароля | Advice School System</title>
    {% endblock %}
</head>

{% block content %}
<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6">
                <h1>Изменение пароля</h1>
            </div>
        </div>
    </div>
</div>
<div class="pb-5" style="min-height: 70%">
    <div class="container">
        <div class="py-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-{{ alert_type }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4 class="alert-heading">{{ title }}</h4>
                            <p class="mb-0">{{ message }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5 mx-auto col-md-8">
            <div class="row">
                <form id="change" class="w-100" method="POST" action="../change_password/">
                    <div class="form-group"><label>Придумайте новый пароль</label>
                        <input type="password" class="form-control" name="password_new" id="password_new"
                               placeholder="Пароль">
                    </div>
                    <input type="hidden" name="status" id="status" value="teacher">
                    {% csrf_token %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary m-4">Изменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}